html {
  font-size: 10px;
  color: rgb(20, 20, 20);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Edu SA Beginner', cursive;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

h1 {
  display: flex;
  justify-content: center;
  padding-top: 10rem;
  font-size: 6rem;
}

#container {
  height: 100vh;
  width: 100%;
  background-color: #99caff;
  background-image:
    radial-gradient(at 20% 72%, hsla(175, 81%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 11% 46%, hsla(236, 92%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 7% 4%, hsla(244, 62%, 69%, 1) 0px, transparent 50%),
    radial-gradient(at 98% 21%, hsla(270, 75%, 76%, 1) 0px, transparent 50%);
}

#list-container {
  width: 40%;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#list {
  background: rgba(255, 255, 255, 0.35);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  padding: 10rem 5rem;
}

#todo-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem 0;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 1.25rem;
}

.row:last-child {
  padding-bottom: 0;
}

.task {
  flex: 1;
  font-size: 2.5rem;
}

/* Filters */

#filters {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  border-radius: 0.5rem;
  background-color: #eee;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  width: 300px;
  font-size: 2rem;
}

#filters .filter {
  flex: 1 1 auto;
  text-align: center;
}

#filters .filter input {
  display: none;
}

#filters .filter .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: .5rem 0;
  color: rgba(51, 65, 85, 1);
  transition: all .15s ease-in-out;
}

#filters .filter input:checked+.name {
  background-color: #fff;
  font-weight: 600;
}

/* Delete button */

.delete {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: .3s;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 12px;
  transition-duration: .3s;
}

.svgIcon path {
  fill: white;
}

.delete:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: .3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

.delete:hover .svgIcon {
  width: 50px;
  transition-duration: .3s;
  transform: translateY(60%);
}

.delete::before {
  position: absolute;
  top: -20px;
  content: "Delete";
  color: white;
  transition-duration: .3s;
  font-size: 2px;
}

.delete:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(30px);
  transition-duration: .3s;
}

/* Mark complete button */
.cl-checkbox {
  position: relative;
  display: inline-block;
  margin-left: 1.5rem;
}

/* Input */
.cl-checkbox>input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  z-index: -1;
  position: absolute;
  left: -10px;
  top: -8px;
  display: block;
  margin: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: none;
  outline: none;
  opacity: 0;
  transform: scale(1);
  pointer-events: none;
  transition: opacity 0.3s, transform 0.2s;
}

/* Span */
.cl-checkbox>span {
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

/* Box */
.cl-checkbox>span::before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  margin: 3px 11px 3px 1px;
  border: solid 2px;
  /* Safari */
  border-color: rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  width: 18px;
  height: 18px;
  vertical-align: top;
  transition: border-color 0.2s, background-color 0.2s;
}

/* Checkmark */
.cl-checkbox>span::after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 1px;
  width: 10px;
  height: 5px;
  border: solid 2px transparent;
  border-right: none;
  border-top: none;
  transform: translate(3px, 4px) rotate(-45deg);
}

/* Checked, Indeterminate */
.cl-checkbox>input:checked,
.cl-checkbox>input:indeterminate {
  background-color: #16db65;
}

.cl-checkbox>input:checked+span::before,
.cl-checkbox>input:indeterminate+span::before {
  border-color: #16db65;
  background-color: #16db65;
}

.cl-checkbox>input:checked+span::after,
.cl-checkbox>input:indeterminate+span::after {
  border-color: #fff;
}

.cl-checkbox>input:indeterminate+span::after {
  border-left: none;
  transform: translate(4px, 3px);
}

/* Hover, Focus */
.cl-checkbox:hover>input {
  opacity: 0.04;
}

.cl-checkbox>input:focus {
  opacity: 0.12;
}

.cl-checkbox:hover>input:focus {
  opacity: 0.16;
}

/* Active */
.cl-checkbox>input:active {
  opacity: 1;
  transform: scale(0);
  transition: transform 0s, opacity 0s;
}

.cl-checkbox>input:active+span::before {
  border-color: #85b8b7;
}

.cl-checkbox>input:checked:active+span::before {
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.6);
}

/* Disabled */
.cl-checkbox>input:disabled {
  opacity: 0;
}

.cl-checkbox>input:disabled+span {
  color: rgba(0, 0, 0, 0.38);
  cursor: initial;
}

.cl-checkbox>input:disabled+span::before {
  border-color: currentColor;
}

.cl-checkbox>input:checked:disabled+span::before,
.cl-checkbox>input:indeterminate:disabled+span::before {
  border-color: transparent;
  background-color: currentColor;
}

/* New task form */

#create-task {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 300px;
}

#create-task input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px rgb(20, 20, 20) solid;
  display: block;
  width: 100%;
  padding: 10px 0 10px 0;
  font-size: 18px;
  color: rgb(20, 20, 20);
}

#create-task input:focus,
#create-task input:valid {
  outline: 0;
  border-bottom-color: rgba(20, 20, 20, .8);
}

#create-task label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

#create-task label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  color: rgb(20, 20, 20);
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#create-task input:focus+label span,
#create-task input:valid+label span {
  color: rgba(20, 20, 20, .8);
  transform: translateY(-30px);
}

/* Create button */

.button-container {
  display: flex;
  justify-content: center;
}

.create {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  margin-left: 2rem;
  padding: 0.7em 1.7em;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  line-height: 1.5;
  text-align: center;
}

.create:active {
  color: #666;
}

.create:before {
  content: "";
  position: absolute;
  right: 50%;
  transform: translateX(50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.create:after {
  content: "";
  position: absolute;
  right: 50%;
  transform: translateX(50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #16db65;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.create:hover {
  color: #ffffff;
  border: 1px solid #16db65;
  cursor: pointer;
}

.create:hover:before {
  top: -35%;
  background-color: #16db65;
}

.create:hover:after {
  top: -45%;
  background-color: #16db65;
}
